In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import accuracy_score

In [73]:
df = pd.read_csv("D:\Internship\Project 4\credit card fraud.ipynb", encoding='latin1')

In [74]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [75]:
df.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.758702e-12,-8.252296e-13,-9.637438e-13,8.316234e-13,1.592013e-13,4.247308e-13,-3.050183e-13,8.692882e-14,-1.179710e-12,...,-3.406538e-13,-5.713357e-13,-9.725290e-13,1.464144e-12,-6.989090e-13,-5.615254e-13,3.332111e-12,-3.518885e-12,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [76]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [77]:
df.duplicated().sum()

1081

In [78]:
df = df.drop_duplicates( keep='first')

In [79]:
df.duplicated().sum()

0

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 283726 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    283726 non-null  float64
 1   V1      283726 non-null  float64
 2   V2      283726 non-null  float64
 3   V3      283726 non-null  float64
 4   V4      283726 non-null  float64
 5   V5      283726 non-null  float64
 6   V6      283726 non-null  float64
 7   V7      283726 non-null  float64
 8   V8      283726 non-null  float64
 9   V9      283726 non-null  float64
 10  V10     283726 non-null  float64
 11  V11     283726 non-null  float64
 12  V12     283726 non-null  float64
 13  V13     283726 non-null  float64
 14  V14     283726 non-null  float64
 15  V15     283726 non-null  float64
 16  V16     283726 non-null  float64
 17  V17     283726 non-null  float64
 18  V18     283726 non-null  float64
 19  V19     283726 non-null  float64
 20  V20     283726 non-null  float64
 21  V21     283726 non-null  float64
 22  V22     283726 non-null  float64
 23  V23     283726 non-null  float64
 24  V24     283726 non-null  float64
 25  V25     283726 non-null  float64
 26  V26     283726 non-null  float64
 27  V27     283726 non-null  float64
 28  V28     283726 non-null  float64
 29  Amount  283726 non-null  float64
 30  Class   283726 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 69.3 MB

In [81]:
# disreibution of legit transection and fradulent transection
df['Class'].value_counts()

0    283253
1       473
Name: Class, dtype: int64

In [82]:
#this data set is higly unbalanced
#0 represents legit trans
#1 represents fraud trans

In [83]:
legit =df[df.Class == 0]
fraud =df[df.Class == 1]

In [84]:
print(legit.shape)
print(fraud.shape)

(283253, 31)
(473, 31)

In [85]:
legit.Amount.describe()

count    283253.000000
mean         88.413575
std         250.379023
min           0.000000
25%           5.670000
50%          22.000000
75%          77.460000
max       25691.160000
Name: Amount, dtype: float64

In [86]:
fraud.Amount.describe()

count     473.000000
mean      123.871860
std       260.211041
min         0.000000
25%         1.000000
50%         9.820000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [87]:
#Compares the values for both trans
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94835.058093,0.013439,-0.009829,0.012853,-0.010440,0.006769,0.001251,0.010447,-0.002448,0.002613,...,-0.000489,-0.00115,-0.000160,0.000360,0.000393,-0.000301,0.000065,0.001409,0.000418,88.413575
1,80450.513742,-4.498280,3.405965,-6.729599,4.472591,-2.957197,-1.432518,-5.175912,0.953255,-2.522124,...,0.405043,0.46655,0.086639,-0.096464,-0.106643,0.040615,0.050456,0.213774,0.078270,123.871860

In [88]:
#under sampling

In [89]:
legit_sample = legit.sample(n=492)

In [90]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [91]:
new_dataset.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,965.000000,965.000000,965.000000,965.000000,965.000000,965.000000,965.000000,965.000000,965.000000,965.000000,...,965.000000,965.000000,965.000000,965.000000,965.000000,965.000000,965.000000,965.000000,965.000000,965.000000
mean,86327.594819,-2.210519,1.654311,-3.282320,2.241779,-1.445549,-0.708744,-2.556338,0.496863,-1.200577,...,0.228447,0.043561,-0.037237,-0.042875,0.018555,0.024655,0.100591,0.036452,105.125793,0.490155
std,48567.208746,5.344714,3.519368,6.012055,3.135832,4.106606,1.687703,5.495447,4.030410,2.292117,...,1.961978,0.978823,1.119236,0.566898,0.672963,0.474292,0.926511,0.438410,232.372578,0.500162
min,59.000000,-30.552380,-8.995586,-31.103685,-3.555067,-22.105532,-6.406267,-43.557242,-41.044261,-13.434066,...,-22.797604,-8.887017,-19.254328,-2.028024,-4.781606,-1.544086,-7.263482,-4.948943,0.000000,0.000000
25%,43643.000000,-2.729482,-0.166146,-4.875397,0.010612,-1.645776,-1.571630,-2.913202,-0.194256,-2.189871,...,-0.176110,-0.546921,-0.232710,-0.403114,-0.306401,-0.295458,-0.065002,-0.052143,1.500000,0.000000
50%,77627.000000,-0.721137,0.905603,-1.195941,1.287839,-0.365700,-0.665414,-0.584163,0.159798,-0.667939,...,0.161366,0.033958,-0.031549,0.003391,0.054411,-0.000059,0.044037,0.034501,18.980000,0.000000
75%,134256.000000,1.080433,2.684104,0.329075,4.100098,0.442581,0.095951,0.269063,0.856122,0.280227,...,0.622200,0.609370,0.187697,0.369321,0.384340,0.323885,0.423620,0.206966,99.990000,1.000000
max,172764.000000,2.368058,22.057729,3.121217,12.114672,11.095089,6.568451,5.802537,20.007208,3.622625,...,27.202839,8.361985,5.485748,3.951679,2.208209,2.745261,3.343366,1.779364,2125.870000,1.000000

In [92]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
147027,88045.0,2.155044,-0.147191,-2.200839,-1.538507,0.260083,-2.080166,0.788316,-0.712967,0.946952,...,0.134024,0.643227,-0.044200,0.081633,0.464709,-0.077852,-0.049155,-0.073432,11.98,0
73979,55373.0,1.236809,-1.551907,0.036274,-1.222784,0.458597,4.519633,-2.092671,1.235343,0.725153,...,0.073644,0.351358,-0.184818,1.082532,0.646356,-0.036647,0.081867,0.030488,66.00,0
212956,139056.0,1.753401,-0.540238,-0.996123,0.459716,-0.107665,-0.180388,-0.035266,-0.086190,0.314813,...,0.100623,0.147444,0.127656,0.819829,-0.226026,0.153614,-0.064459,-0.032059,129.95,0
110318,71768.0,1.145728,0.111937,0.576952,0.511904,-0.369142,-0.319302,-0.125315,0.082239,-0.187698,...,-0.163793,-0.508386,0.176040,0.211046,0.074475,0.094421,-0.019449,0.008107,8.99,0
19830,30585.0,1.259083,-0.061042,-1.586239,-0.615404,2.294742,3.017576,-0.106586,0.668462,-0.316571,...,-0.412725,-1.472489,0.075689,0.991760,0.428575,0.149424,-0.069748,0.009795,47.90,0

In [93]:
new_dataset['Class'].value_counts()

0    492
1    473
Name: Class, dtype: int64

In [94]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,91977.715447,-0.011107,-0.029698,0.031833,0.097116,0.007723,-0.012921,-0.037927,0.058097,0.069934,...,0.017611,-0.000462,0.002147,0.019704,0.018430,-0.002652,-0.000151,-0.008221,-0.003752,87.103659
1,80450.513742,-4.498280,3.405965,-6.729599,4.472591,-2.957197,-1.432518,-5.175912,0.953255,-2.522124,...,0.405043,0.466550,0.086639,-0.096464,-0.106643,0.040615,0.050456,0.213774,0.078270,123.871860

In [130]:
X1= new_dataset.drop(columns='Class', axis=1)

In [131]:
print(X1)

            Time        V1        V2        V3        V4        V5        V6  \
147027   88045.0  2.155044 -0.147191 -2.200839 -1.538507  0.260083 -2.080166
73979    55373.0  1.236809 -1.551907  0.036274 -1.222784  0.458597  4.519633
212956  139056.0  1.753401 -0.540238 -0.996123  0.459716 -0.107665 -0.180388
110318   71768.0  1.145728  0.111937  0.576952  0.511904 -0.369142 -0.319302
19830    30585.0  1.259083 -0.061042 -1.586239 -0.615404  2.294742  3.017576
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
147027  0.788316 -0.712967  0.946952  ... -0.144414  0.134024  0.643227
73979  -2.092671  1.235343  0.725153  ...  0.271441  0.073644  0.351358
212956 -0.035266 -0.086190  0.314813  ...  0.142395  0.100623  0.147444
110318 -0.125315  0.082239 -0.187698  ... -0.125151 -0.163793 -0.508386
19830  -0.106586  0.668462 -0.316571  ...  0.101821 -0.412725 -1.472489
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
147027 -0.044200  0.081633  0.464709 -0.077852 -0.049155 -0.073432   11.98
73979  -0.184818  1.082532  0.646356 -0.036647  0.081867  0.030488   66.00
212956  0.127656  0.819829 -0.226026  0.153614 -0.064459 -0.032059  129.95
110318  0.176040  0.211046  0.074475  0.094421 -0.019449  0.008107    8.99
19830   0.075689  0.991760  0.428575  0.149424 -0.069748  0.009795   47.90
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[965 rows x 30 columns]

In [128]:
y1 = new_dataset['Class']

In [129]:
print(y1)

147027    0
73979     0
212956    0
110318    0
19830     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 965, dtype: int64

In [152]:
# MODEL 1

In [132]:
X1_train,X1_test,y1_train,y1_test=train_test_split(X1,y1,test_size=0.3,random_state=123)

In [133]:
print(X1.shape,X1_train.shape , X1_test.shape)

(965, 30) (675, 30) (290, 30)

In [134]:
lr=LogisticRegression()

In [135]:
model2=lr.fit(X1_train,y1_train)

In [136]:
prediction2=model2.predict(X1_test)

In [137]:
accuracy_score(y1_test,prediction2)

0.9413793103448276

In [153]:
# MODEL 2

In [138]:
from sklearn.model_selection import train_test_split

In [142]:
X2= new_dataset.drop(columns='Class', axis=1)

In [143]:
y2 = new_dataset['Class']

In [144]:
X2_train,X2_test,y2_train,y2_test=train_test_split(X2,y2,test_size=0.30,random_state=123)

In [145]:
from sklearn.ensemble import RandomForestClassifier

In [146]:
rfc=RandomForestClassifier()

In [148]:
model=rfc.fit(X2_train,y2_train)

In [149]:
prediction=model.predict(X2_test)
http://localhost:8888/notebooks/credit%20card%20fraud.ipynb#

In [150]:
accuracy_score(y2_test,prediction)

0.9517241379310345

In [151]:
# Both of the models is performing with good accuracy